<pf-dropdown [hideArrow]="true" class="user-menu">
    <div slot="head">
        <a class="nav-link">
            <fa-icon [icon]="faUser" class="user-image-small" [style.fontSize.px]="15"></fa-icon>
        </a>
    </div>
    <div slot="body">
        <li class="user-header bg-dark">
            <ng-container *ngIf="!user?.photoURL; else userImage">
                <fa-icon [icon]="faUser" class="user-image-big" [style.fontSize.px]="90"></fa-icon>
            </ng-container>

            <ng-template #userImage>
                <pf-image [src]="user.photoURL" fallbackSrc="assets/img/default-profile.png" class="user-image-big"
                    alt="User Image" width="90" height="90" rounded="true" />
            </ng-template>

            <p>
                {{ user?.email }}
                <small>
                    <span>Member since </span>

                    <span *ngIf="user?.metadata?.creationTime">
                        {{ formatDate(user?.metadata?.creationTime) }}
                    </span>
                </small>
            </p>
        </li>
        <!-- Menu Body

        <!-- Menu Footer-->
        <li class="user-footer">
            <a [routerLink]="['/profile']" class="btn btn-default btn-flat">
                Perfil
            </a>
            <a (click)="logout()" class="btn btn-default btn-flat float-right">
                Sair
            </a>
        </li>
    </div>
</pf-dropdown>