@import '../../scss/color-variables.scss';

@keyframes fadeIn {
     from {
          opacity: 0;
     }

     to {
          opacity: 1;
     }
}

.container {
     animation: fadeIn 0.2s ease-in;
}

.form-control {
     color: #1a1a1a;
     font-size: 16px;
}

form {
     text-align: center;
}

@media (min-width: 870px) {
     .main-section {
          padding: 2% 10%;
     }

     form {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
     }

     .main-section input {
          width: 700px;
     }

     .main-section p {
          font-size: 17px;
     }

     .main-section button {
          width: 700px;
          padding: 20px;
     }
}

.gradient-custom-3 {
     /* fallback for old browsers */
     background: #84fab0;

     /* Chrome 10-25, Safari 5.1-6 */
     background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}

.gradient-custom-4 {
     /* fallback for old browsers */
     background: #84fab0;

     /* Chrome 10-25, Safari 5.1-6 */
     background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}