<section class="vh-100 bg-image position-relative" style="background-image: url('assets/bootstrap/img/sign-background.jpg'); background-size: cover;">
    
    <!-- Background mask -->
    <div class="mask bg-dark opacity-75 position-absolute top-0 start-0 w-100 h-100"></div>

    <div class="container d-flex align-items-center justify-content-center h-75">
        <div class="h-75 row d-flex justify-content-center align-items-center w-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">

                <!-- Form card with white background -->
                <div class="card" style="height: 65%; border-radius: 15px; background-color: #fff;">
                    <div class="card-body p-4 h-75">
                        <h2 class="text-uppercase text-center mb-5">Criar uma conta</h2>
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="form-floating mb-4 w-75">
                                <input type="text" formControlName="username" class="form-control form-control-lg" id="form3Example1cg" placeholder="Your Name">
                                <label for="form3Example1cg">Nome</label>
                            </div>
                
                            <div class="form-floating mb-4 w-75">
                                <input type="email" formControlName="email" class="form-control form-control-lg" id="form3Example3cg" placeholder="Your Email">
                                <label for="form3Example3cg">Email</label>
                            </div>
                
                            <div class="form-floating mb-4 w-75">
                                <input type="password" formControlName="password" class="form-control form-control-lg" id="form3Example4cg" placeholder="Password">
                                <label for="form3Example4cg">Senha</label>
                            </div>
                
                            <div class="form-floating mb-4 w-75">
                                <input type="password" formControlName="verifyPassword" class="form-control form-control-lg" id="form3Example4cdg" placeholder="Repeat your password">
                                <label for="form3Example4cdg">Repetir a senha</label>
                            </div>
                
                            <div class="form-floating mb-4 w-75">
                                <button type="submit" class="btn btn-success p-3 w-75">Register</button>
                            </div>
                
                            <p class="text-center text-muted mb-0">Já tem uma conta? <a href="/login" class="fw-bold text-body"><u>Faça login aqui</u></a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<app-loading [isLoading]="isLoading"></app-loading>