<app-navbar></app-navbar>

<section class="main-section">
     <h1>Criar conta</h1>
     <p>Crie sua conta e tenha acesso a todas as funcionalidades!</p>
     <form action="">
          <input type="text" name="name" placeholder="Nome">
          <input type="email" name="email" placeholder="Email">
          <input type="text" name="phone" placeholder="Telefone">
          <input type="password" name="password" placeholder="digite sua senha">
          <input type="password" name="password2" placeholder="digite sua senha novamente">
          <button>Criar conta</button>
     </form>
</section>