<section class="d-flex w-100 align-items-center justify-content-center min-vh-100 py-4 bg-body-tertiary rounded-2">
    <main class="form-signin w-100 m-auto" style="max-width: 400px;">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <img class="mb-4" src="/assets/logo-dark.svg" alt="" width="400" height="70">
            <h1 class="h3 mb-3 fw-normal text-center">Por favor, faça login</h1>
            
            <div class="form-floating mb-3">
                <input type="email" formControlName="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email</label>
            </div>
            
            <div class="form-floating mb-3">
                <input type="password" formControlName="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Senha</label>
            </div>
            
            <button class="btn btn-dark w-100 py-2" type="submit">Fazer login</button>
            
            <p class="mt-5 mb-3 text-body-secondary text-center">&copy; 2024</p>
        </form>
    </main>
</section>

 <app-loading [isLoading]="isLoading"></app-loading>
 
