@import '../../scss/color-variables.scss';

.active-title {
     background-color: $secundary-color;
     width: 100%;
     padding: 3%;
     text-align: center;
}

.active-title h1 {
     font-size: 25px;
     color: white;
     font-weight: 700;
}

.active-title p {
     color: white;
     font-size: 18px;
     font-weight: 700;
}

.navigate-section {
     width: 95%;
     margin: 20px auto 0 auto;
     display: flex;
     justify-content: space-between;
}

.navigate-a {
     padding: 6px;
     border: 1px solid #ccc;
     border-radius: 10px;
     width: 48%;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
     font-size: 18px;
     font-weight: 700;
     background-color: $secundary-color;
     color: white;
     display: flex;
     align-items: center;
     justify-content: center;
     text-decoration: none;
}

.navigate-a img {
     width: 30px;
}

.principal-active-insides {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-gap: 15px;
     padding: 3%;
     margin-top: 20px;
}

.inside {
     border: 1px solid #ccc;
     text-align: center;
     height: 80px;
     display: flex;
     flex-direction: column;
     border-radius: 10px;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.inside-title {
     width: 100%;
     height: 50vh;
     background-color: $primary-color;
     color: white;
     font-weight: 700;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 10px 10px 0 0;
}

.inside-value {
     width: 100%;
     height: 50vh;
     background-color: white;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 0 0 10px 10px;
}

.inside-title p, .inside-value p {
     margin: 0;
     padding: 0;
}

.active-indicators {
     border: 1px solid #ccc;
     background-color: white;
     border-radius: 10px;
     width: 95%;
     margin: 0 auto;
     flex-direction: column;
     display: flex;
     justify-content: center;
     margin-top: 20px;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.active-indicators-title {
     display: flex;
     background-color: white;
     width: 100%;
     margin: 0 auto;
     border-radius: 10px 10px 0 0;
}

.active-indicators-title img {
     width: 20px;
}

.active-indicators-title .image {
     background-color: $primary-color;
     border-radius: 10px 0 0 0;
     padding: 10px;
}

.active-indicators .title {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     border-bottom: 1px solid #ccc;
}

.active-indicators p {
     margin: 0;
     padding: 0;
}

.active-indicators-body {
     margin: 0 15px 20px 15px;
}

.box-indicators {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-gap: 15px;
     padding: 1%;
     margin-top: 20px;
}

.box-indicator {
     border: 1px solid #9e9e9e;
     border-radius: 10px;
     height: 70px;
}

.box-indicator .box-title {
     font-size: 12px;
     padding: 10px;
     color: #626262;
}

.box-indicator .box-value {
     font-size: 16px;
     padding-left: 10px;
     font-weight: 700;
}

.action-section {
     background-color: white;
     width: 95%;
     margin: 30px auto;
     padding-bottom: 15px;
     border-radius: 10px;
     border: 1px solid #ccc;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.add-active-title {
     display: flex;
     background-color: white;
     width: 100%;
     margin: 0 auto;
     border-radius: 10px 10px 0 0;
}

.add-active-title img {
     width: 20px;
}

.add-active-title .image {
     background-color: $primary-color;
     border-radius: 10px 0 0 0;
     padding: 10px;
}

.add-active-title .title {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     border-bottom: 1px solid #ccc;
}

.DY {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     margin-top: 20px;
     padding: 10px 10px 0 10px;
}

.DY label {
     font-size: 16px;
     margin-bottom: 5px;
}

.DY input {
     border-radius: 10px;
     padding: 10px;
     width: 80%;
     border: 1px solid #ccc;
     margin-top: 3px;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.purses {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     padding: 10px 10px 0 10px;
}

.purses label {
     font-size: 16px;
     margin-bottom: 5px;
}

.purses select {
     border-radius: 10px;
     padding: 10px;
     width: 80%;
     cursor: pointer;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
     border: 1px solid #ccc;
}

.action-section button {
     display: block;
     padding: 15px;
     font-size: 18px;
     font-weight: 700;
     margin: 25px auto 10px auto;
     background-color: $primary-color;
     color: #fff;
     border: 1px solid #ccc;
     border-radius: 12px;
     cursor: pointer;
     width: 70%;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.action-section button:hover {
     background-color: $third-color;
}

.error-container {
     height: 2px; 
     margin: 10px 0; 
     text-align: center;
     display: none;
}

.error-message {
     font-size: 16px;
     color: rgb(223, 41, 41);
     transition: opacity 0.3s ease-in-out;
     margin-bottom: 5px;
     padding: 0;
}

.error-container.active {
     display: block;
}

@media (min-width: 430px)
{
     .action-section button {
          width: 79%;
     }
}

@media (min-width: 850px)
{
     .action-section button {
          width: 600px;
     }

     .action-section select {
          width: 600px;
     }

     .DY input {
          width: 600px;
     }
}

@media (min-width: 1120px)
{
     .navigate-section {
          width: 80%;
     }

     .navigate-a img {
          margin-right: 2%;
     }

     .active-title {
          padding: 1%;
     }

     .principal-active-insides {
          grid-template-columns: 1fr 1fr 1fr 1fr;
          margin-top: 1px;
          padding: 2% 0%;
          grid-gap: 30px;
          width: 80%;
          margin: 1px auto;
     }

     .active-indicators {
          width: 80%;

     }

     .active-indicators-title {
          display: flex;
          background-color: white;
          width: 100%;
          margin: 0 auto;
          border-radius: 10px 10px 0 0;
     }
     
     .active-indicators-title img {
          width: 40px;
     }

     .active-indicators-title .image {
          padding: 20px;
     }

     .active-indicators .title {
          font-size: 25px;
          font-weight: 700;
          color: $primary-color;
     }

     .action-section {
          width: 80%;
     }

     .add-active-title .image {
          padding: 20px;
     }

     .add-active-title img {
          width: 40px;
     }

     .add-active-title .title {
          font-size: 25px;
          font-weight: 700;
          color: $primary-color;
     }
}