<header class="header">
     <nav class="nav" #nav>
          <img src="/assets/logo2.png" class="logo">
          <button class="hamburger" #hamburger></button>
          <ul class="nav-list">
               <li><a href="/search-ticker">Buscar novos ativos</a></li>
               <li class="authenticated" #purses><a href="/purses">Minhas carteiras</a></li>
               <li #createAccount><a href="/register">Criar conta</a></li>
               <li #login><a href="/login">Fazer login</a></li>
               <li class="authenticated" #myaccount><a href="#">Minha conta</a></li>
          </ul>
     </nav>
</header>
