<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0" style="min-height: 70px;">
  <a href="" class="navbar-brand p-0">
    <h1 class="text-primary"><i class="fas fa-search-dollar me-3"></i>MyInvest</h1>
    <!-- <img src="img/logo.png" alt="Logo"> -->
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="fa fa-bars"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto py-0">
      <a href="/" class="nav-item nav-link active">Página inicial</a>
      <a href="/search-ticker" class="nav-item nav-link">Buscar Ativos</a>
      <a #purses href="/purses" class="unauthenticated nav-item nav-link">Minhas carteiras</a>
      <a href="#" class="nav-item nav-link">Sobre nós</a>
      <a #login href="/login" class=" nav-item nav-link">Fazer login</a>
      <a #logout href="/logout" class="unauthenticated nav-item nav-link">Sair da conta</a>
    </div>
    <a #createAccount href="/register" class="btn btn-primary rounded-pill py-2 px-4 my-3 my-lg-0 flex-shrink-0 m-lg-2">Criar conta</a>
  </div>
</nav>