<div class="header-carousel owl-carousel" ngSkipHydration>
    <div class="header-carousel-item">
        <img src="assets/bootstrap/img/carousel-1.jpg" class="img-fluid w-100" alt="Image">
        <div class="carousel-caption">
            <div class="container">
                <div class="row gy-0 gx-5">
                    <div class="col-lg-0 col-xl-5"></div>
                    <div class="col-xl-7 animated fadeInLeft">
                        <div class="text-sm-center text-md-end">
                            <h4 class="text-primary text-uppercase fw-bold mb-4">Bem vindos ao My Invest</h4>
                            <h1 class="display-4 text-uppercase text-white mb-4">Acompanhe os seus investimentos e tenha
                                o melhor retorno</h1>
                            <p class="mb-5 fs-5">Descubra oportunidades, maximize seus ganhos e acompanhe cada movimento
                                do mercado em tempo real. Com MyInvest, você está no controle !
                            </p>
                            <div class="d-flex justify-content-center justify-content-md-end flex-shrink-0 mb-4">
                                <a class="btn btn-light rounded-pill py-3 px-4 px-md-5 me-2"
                                    href="/search-ticker">Buscar ativos</a>
                                <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2" href="/login">Acessar
                                    minha conta</a>
                            </div>
                            <!-- <div class="d-flex align-items-center justify-content-center justify-content-md-end">
                                <h2 class="text-white me-2">Follow Us:</h2>
                                <div class="d-flex justify-content-end ms-2">
                                    <a class="btn btn-md-square btn-light rounded-circle me-2" href=""><i
                                            class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-md-square btn-light rounded-circle mx-2" href=""><i
                                            class="fab fa-twitter"></i></a>
                                    <a class="btn btn-md-square btn-light rounded-circle mx-2" href=""><i
                                            class="fab fa-instagram"></i></a>
                                    <a class="btn btn-md-square btn-light rounded-circle ms-2" href=""><i
                                            class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-carousel-item">
        <img src="assets/bootstrap/img/carousel-2.jpg" class="img-fluid w-100" alt="Image">
        <div class="carousel-caption">
            <div class="container">
                <div class="row g-5">
                    <div class="col-12 animated fadeInUp">
                        <div class="text-center">
                            <h4 class="text-primary text-uppercase fw-bold mb-4">Bem vindos ao My Invest</h4>
                            <h1 class="display-4 text-uppercase text-white mb-4">Acompanhe os seus investimentos e tenha
                                o melhor retorno</h1>
                            <p class="mb-5 fs-5">Com MyInvest, você transforma oportunidades em conquistas. Simplifique
                                sua jornada financeira e alcance o retorno que sempre desejou!
                            </p>
                            <div class="d-flex justify-content-center flex-shrink-0 mb-4">
                                <a class="btn btn-light rounded-pill py-3 px-4 px-md-5 me-2"
                                    href="/search-ticker">Buscar Ativos</a>
                                <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2" href="/login">Acessar
                                    minha conta</a>
                            </div>
                            <!-- <div class="d-flex align-items-center justify-content-center">
                                <h2 class="text-white me-2">Follow Us:</h2>
                                <div class="d-flex justify-content-end ms-2">
                                    <a class="btn btn-md-square btn-light rounded-circle me-2" href=""><i
                                            class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-md-square btn-light rounded-circle mx-2" href=""><i
                                            class="fab fa-twitter"></i></a>
                                    <a class="btn btn-md-square btn-light rounded-circle mx-2" href=""><i
                                            class="fab fa-instagram"></i></a>
                                    <a class="btn btn-md-square btn-light rounded-circle ms-2" href=""><i
                                            class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->

<!-- Features Start -->
<div class="container-fluid feature pb-5 mt-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s">
            <h4 class="text-primary">Destaques do nosso sistema</h4>
            <h1 class="display-5 mb-4">Conectando investimentos, estratégias e insides para maximizar resultados.</h1>
            <p class="mb-0">Conectamos você aos seus ativos financeiros, fornecendo insights estratégicos e atualizações
                em tempo real para maximizar seus investimentos e garantir decisões mais informadas e eficazes.
            </p>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-6 col-xl-3 wow" data-wow-delay="0.2s">
                <div class="feature-item p-4">
                    <div class="feature-icon p-4 mb-4">
                        <i class="fas fa-chart-line fa-4x text-primary"></i>
                    </div>
                    <h4>Gerenciamento global</h4>
                    <p class="mb-4">Gerencie sua carteira de qualquer lugar, controle e acompanhe cada investimento com
                        precisão.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp h-100" data-wow-delay="0.4s">
                <div class="feature-item p-4">
                    <div class="feature-icon p-4 mb-4">
                        <i class="fas fa-university fa-4x text-primary"></i>
                    </div>
                    <h4>Instituições poderosas</h4>
                    <p class="mb-4">Acompanhe os ativos das maiores empresas e instituições globais com precisão.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp h-100" data-wow-delay="0.6s">
                <div class="feature-item p-4">
                    <div class="feature-icon p-4 mb-4">
                        <i class="fas fa-file-alt fa-4x text-primary"></i>
                    </div>
                    <h4>Estatísticas precisas</h4>
                    <p class="mb-4">Todas as estatísticas que você precisa sobre suas ações, sempre acessíveis na palma
                        da sua mão!</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp h-100" data-wow-delay="0.8s">
                <div class="feature-item p-4">
                    <div class="feature-icon p-4 mb-4">
                        <i class="fas fa-hand-holding-usd fa-4x text-primary"></i>
                    </div>
                    <h4>Indicação de compra</h4>
                    <p class="mb-4">A melhor recomendação de compra, personalizada para você, com base em dados
                        atualizados!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->


<!-- Offer Start -->
<!-- <div class="container-fluid offer-section pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Our Offer</h4>
            <h1 class="display-5 mb-4">Benefits We offer</h1>
            <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur adipisci facilis
                cupiditate recusandae aperiam temporibus corporis itaque quis facere, numquam, ad culpa deserunt sint
                dolorem autem obcaecati, ipsam mollitia hic.
            </p>
        </div>
        <div class="row g-5 align-items-center">
            <div class="col-xl-5 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="nav nav-pills bg-light rounded p-5">
                    <a class="accordion-link p-4 active mb-4" data-bs-toggle="pill" href="#collapseOne">
                        <h5 class="mb-0">Lending money for investment of your new projects</h5>
                    </a>
                    <a class="accordion-link p-4 mb-4" data-bs-toggle="pill" href="#collapseTwo">
                        <h5 class="mb-0">Lending money for investment of your new projects</h5>
                    </a>
                    <a class="accordion-link p-4 mb-4" data-bs-toggle="pill" href="#collapseThree">
                        <h5 class="mb-0">Mobile payment is more flexible and easy for all investors</h5>
                    </a>
                    <a class="accordion-link p-4 mb-0" data-bs-toggle="pill" href="#collapseFour">
                        <h5 class="mb-0">all transaction is kept free for the member of pro traders</h5>
                    </a>
                </div>
            </div>
            <div class="col-xl-7 wow fadeInRight" data-wow-delay="0.4s">
                <div class="tab-content">
                    <div id="collapseOne" class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                            <div class="col-md-7">
                                <img src="assets/bootstrap/img/offer-1.jpg" class="img-fluid w-100 rounded" alt="">
                            </div>
                            <div class="col-md-5">
                                <h1 class="display-5 mb-4">The stock market provides a venue...</h1>
                                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis amet
                                    sequi molestiae tenetur eum mollitia, blanditiis, magnam illo magni error dolore
                                    unde perspiciatis tempore et totam corrupti dignissimos aut praesentium?
                                </p>
                                <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div id="collapseTwo" class="tab-pane fade show p-0">
                        <div class="row g-4">
                            <div class="col-md-7">
                                <img src="assets/bootstrap/img/offer-2.jpg" class="img-fluid w-100 rounded" alt="">
                            </div>
                            <div class="col-md-5">
                                <h1 class="display-5 mb-4">The stock market provides a venue...</h1>
                                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis amet
                                    sequi molestiae tenetur eum mollitia, blanditiis, magnam illo magni error dolore
                                    unde perspiciatis tempore et totam corrupti dignissimos aut praesentium?
                                </p>
                                <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div id="collapseThree" class="tab-pane fade show p-0">
                        <div class="row g-4">
                            <div class="col-md-7">
                                <img src="assets/bootstrap/img/offer-3.jpg" class="img-fluid w-100 rounded" alt="">
                            </div>
                            <div class="col-md-5">
                                <h1 class="display-5 mb-4">The stock market provides a venue...</h1>
                                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis amet
                                    sequi molestiae tenetur eum mollitia, blanditiis, magnam illo magni error dolore
                                    unde perspiciatis tempore et totam corrupti dignissimos aut praesentium?
                                </p>
                                <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div id="collapseFour" class="tab-pane fade show p-0">
                        <div class="row g-4">
                            <div class="col-md-7">
                                <img src="assets/bootstrap/img/offer-4.jpg" class="img-fluid w-100 rounded" alt="">
                            </div>
                            <div class="col-md-5">
                                <h1 class="display-5 mb-4">The stock market provides a venue...</h1>
                                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis amet
                                    sequi molestiae tenetur eum mollitia, blanditiis, magnam illo magni error dolore
                                    unde perspiciatis tempore et totam corrupti dignissimos aut praesentium?
                                </p>
                                <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Offer End -->

<!-- Team Start -->
<div class="container-fluid team pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Nosso time</h4>
            <h1 class="display-5 mb-4">Conheça nossos desenvolvedores</h1>
            <p class="mb-0">Nosso time de desenvolvedores altamente qualificados criou um sistema de gestão de carteira
                de ações robusto e intuitivo.
                Com uma combinação de expertise técnica e profundo conhecimento em finanças, nossa equipe trabalhou
                incansavelmente para
                garantir que você possa armazenar, acompanhar e gerenciar suas compras de ações com total confiança e
                precisão.
                Cada detalhe foi pensado para oferecer a melhor experiência, permitindo que você tome decisões
                informadas e maximize
                seus investimentos de forma eficaz.</p>
        </div>
        <div class="row g-4d justify-content-center">
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="assets/bootstrap/img/marcos.jpeg" class="img-fluid" alt="">
                    </div>
                    <div class="team-title">
                        <h4 class="mb-0">Marcos Morais</h4>
                        <p class="mb-0">Especialista .NET</p>
                    </div>
                    <div class="team-icon">
                        <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i
                                class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-primary btn-sm-square rounded-circle me-0" href=""><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="assets/bootstrap/img/gabriel.jpeg" class="img-fluid" alt="">
                    </div>
                    <div class="team-title">
                        <h4 class="mb-0">Gabriel Rodrigues</h4>
                        <p class="mb-0">Desenvolvedor Full Stack</p>
                    </div>
                    <div class="team-icon">
                        <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i
                                class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-primary btn-sm-square rounded-circle me-0" href=""><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->

<!-- Blog Start -->
<!-- <div class="container-fluid blog pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Our Blog & News</h4>
            <h1 class="display-5 mb-4">Articles For Pro Traders</h1>
            <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur adipisci facilis
                cupiditate recusandae aperiam temporibus corporis itaque quis facere, numquam, ad culpa deserunt sint
                dolorem autem obcaecati, ipsam mollitia hic.
            </p>
        </div>
        <div class="owl-carousel blog-carousel wow fadeInUp" data-wow-delay="0.2s">
            <div class="blog-item p-4">
                <div class="blog-img mb-4">
                    <img src="assets/bootstrap/img/service-1.jpg" class="img-fluid w-100 rounded" alt="">
                    <div class="blog-title">
                        <a href="#" class="btn">Dividend Stocks</a>
                    </div>
                </div>
                <a href="#" class="h4 d-inline-block mb-3">Options Trading Business?</a>
                <p class="mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore aut aliquam suscipit
                    error corporis accusamus labore....
                </p>
                <div class="d-flex align-items-center">
                    <img src="assets/bootstrap/img/testimonial-1.jpg" class="img-fluid rounded-circle"
                        style="width: 60px; height: 60px;" alt="">
                    <div class="ms-3">
                        <h5>Admin</h5>
                        <p class="mb-0">October 9, 2025</p>
                    </div>
                </div>
            </div>
            <div class="blog-item p-4">
                <div class="blog-img mb-4">
                    <img src="assets/bootstrap/img/service-2.jpg" class="img-fluid w-100 rounded" alt="">
                    <div class="blog-title">
                        <a href="#" class="btn">Non-Dividend Stocks</a>
                    </div>
                </div>
                <a href="#" class="h4 d-inline-block mb-3">Options Trading Business?</a>
                <p class="mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore aut aliquam suscipit
                    error corporis accusamus labore....
                </p>
                <div class="d-flex align-items-center">
                    <img src="assets/bootstrap/img/testimonial-2.jpg" class="img-fluid rounded-circle"
                        style="width: 60px; height: 60px;" alt="">
                    <div class="ms-3">
                        <h5>Admin</h5>
                        <p class="mb-0">October 9, 2025</p>
                    </div>
                </div>
            </div>
            <div class="blog-item p-4">
                <div class="blog-img mb-4">
                    <img src="assets/bootstrap/img/service-3.jpg" class="img-fluid w-100 rounded" alt="">
                    <div class="blog-title">
                        <a href="#" class="btn">Dividend Stocks</a>
                    </div>
                </div>
                <a href="#" class="h4 d-inline-block mb-3">Options Trading Business?</a>
                <p class="mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore aut aliquam suscipit
                    error corporis accusamus labore....
                </p>
                <div class="d-flex align-items-center">
                    <img src="assets/bootstrap/img/testimonial-3.jpg" class="img-fluid rounded-circle"
                        style="width: 60px; height: 60px;" alt="">
                    <div class="ms-3">
                        <h5>Admin</h5>
                        <p class="mb-0">October 9, 2025</p>
                    </div>
                </div>
            </div>
            <div class="blog-item p-4">
                <div class="blog-img mb-4">
                    <img src="assets/bootstrap/img/service-4.jpg" class="img-fluid w-100 rounded" alt="">
                    <div class="blog-title">
                        <a href="#" class="btn">Non-Dividend Stocks</a>
                    </div>
                </div>
                <a href="#" class="h4 d-inline-block mb-3">Options Trading Business?</a>
                <p class="mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore aut aliquam suscipit
                    error corporis accusamus labore....
                </p>
                <div class="d-flex align-items-center">
                    <img src="assets/bootstrap/img/testimonial-1.jpg" class="img-fluid rounded-circle"
                        style="width: 60px; height: 60px;" alt="">
                    <div class="ms-3">
                        <h5>Admin</h5>
                        <p class="mb-0">October 9, 2025</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Blog End -->


<!-- FAQs Start -->
<div class="container-fluid faq-section pb-5">
    <div class="container pb-5 overflow-hidden">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">FAQs</h4>
            <h1 class="display-5 mb-4">Perguntas frequentes</h1>
            <p class="mb-0">Encontre respostas para as dúvidas mais comuns sobre nossos serviços. Desde orientações
                sobre o uso do sistema de
                gestão de ações até informações sobre segurança e suporte, esta seção foi criada para facilitar sua
                experiência. Se precisar
                de mais ajuda, entre em contato com nossa equipe!</p>
        </div>
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="accordion accordion-flush bg-light rounded p-5" id="accordionFlushSection">
                    <div class="accordion-item rounded-top">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed rounded-top" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                O que essa ferramenta faz?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body">A ferramenta é um sistema de gestão de ações que permite aos
                                usuários armazenar
                                e monitorar suas compras de ações. Ela oferece uma visão clara da carteira de
                                investimentos, com indicadores
                                e relatórios que facilitam a análise de mercado e ajudam na tomada de decisões
                                financeiras.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                O sistema é seguro?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body">Sim, o sistema é super seguro, com protocolos de segurança
                                avançados,
                                autenticação e criptografia para proteger todos os seus dados</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                Vou ter acesso as informações em tempo real?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body">Sim, você terá acesso às informações em tempo real, permitindo
                                monitorar o desempenho da sua carteira de ações e acompanhar as mudanças do mercado
                                instantaneamente.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false"
                                aria-controls="flush-collapseFour">
                                Como eu posso criar uma conta?
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body">Para criar uma conta, basta clicar no botão "Criar Conta"
                                localizado no topo do site. Após isso, você será direcionado para um formulário de
                                registro, onde deverá fornecer algumas informações básicas, como seu nome, e-mail e
                                senha. Siga as instruções na tela para completar o processo!</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFive" aria-expanded="false"
                                aria-controls="flush-collapseFive">
                                Por que acompanhar minha carteira de ações?
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body">Acompanhar sua carteira de ações é essencial para tomar decisões
                                informadas sobre investimentos. O desempenho das ações é monitorado, permitindo
                                identificar oportunidades e gerenciar riscos, isso facilita a otimização da carteira
                                para maximizar os retornos e alcançar seus objetivos financeiros.</div>
                        </div>
                    </div>
                    <div class="accordion-item rounded-bottom">
                        <h2 class="accordion-header" id="flush-headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseSix" aria-expanded="false"
                                aria-controls="flush-collapseSix">
                                Como posso entrar em contato com o suporte?
                            </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body">Para entrar em contato com o suporte, basta clicar na opção
                                "Contato" no menu inicial. Você será direcionado para um formulário onde poderá enviar
                                suas dúvidas ou solicitações. Nossa equipe de suporte responderá o mais rápido possível!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.2s">
                <div class="bg-primary rounded">
                    <img src="assets/bootstrap/img/about-2.png" class="img-fluid w-100" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FAQs End -->
