<app-spinner [isLoading]="isLoading"></app-spinner>   
<!-- Content Header (Page header) -->
<section class="content-header">
     <div class="container-fluid">
          <div class="row mb-2">
               <div class="col-sm-6">
                    <h1>Carteiras</h1>
               </div>
               <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                         <li class="breadcrumb-item"><a href="#">Home</a></li>
                         <li class="breadcrumb-item active">Carteiras</li>
                    </ol>
               </div>
          </div>
     </div>
     <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
     <!-- Default box -->
     <div class="container-fluid">
          <div class="card">
               <div class="card-header">
                    <a href="/create-active/{{purseId}}" class="btn btn-primary">Adicionar ativo</a>

                    <!-- <div class="card-tools">
                     <button
                         type="button"
                         class="btn btn-tool"
                         data-widget="collapse"
                         data-toggle="tooltip"
                         title="Collapse"
                     >
                         <i class="fa fa-minus"></i>
                     </button>
                     <button
                         type="button"
                         class="btn btn-tool"
                         data-widget="remove"
                         data-toggle="tooltip"
                         title="Remove"
                     >
                         <i class="fa fa-times"></i>
                     </button>
                 </div> -->
               </div>
               <!-- <div class="card-body">
                 Start creating your amazing application!
             </div> -->

               <table class="table table-striped    text-center">
                    <thead class="thead-dark">
                         <tr>
                              <th>Ativo</th>
                              <th>Quantidade</th>
                              <th>Tipo</th>
                              <th>DY</th>
                              <th>Preço atual</th>
                              <th>Dividendos pagos</th>
                              <th>Preço teto</th>
                              <th>Indicação</th>
                              <th>ações</th>
                         </tr>

                    </thead>
                    <tbody>
                         <tr *ngFor="let active of actives">
                              <td class="align-middle">{{ active.ativo }}</td>
                              <td class="align-middle">-</td>
                              <td class="align-middle">{{ active.tipo }}</td>
                              <td class="align-middle">{{ active.dividentYield }}</td>
                              <td class="align-middle">{{ active.precoAtual }}</td>
                              <td class="align-middle">{{ active.dividentYield }}</td>
                              <td class="align-middle">{{ active.preco_Teto }}</td>
                              <td class="align-middle">{{ active.indicacao }}</td>
                              <td class="align-middle">
                                   <button class="btn btn-warning mr-3" (click)="updateActive(active.id, active.ativo, active.dividentYield); $event.stopPropagation()">
                                        <fa-icon [icon]="faEdit"></fa-icon>
                                   </button>
                                   <button class="btn btn-danger" (click)="deleteActive(active.id); $event.stopPropagation()">
                                        <fa-icon [icon]="faTrash"></fa-icon>
                                   </button>
                              </td>
                         </tr>

                    </tbody>
               </table>

          </div>
     </div>
     <!-- /.card -->
</section>
<!-- /.content -->