<app-back [link]="redirectBackLink"></app-back>

<h1> Minhas carteiras </h1>

<section class="main-section">
     <div class="menu">
     </div>

     <div class="actions" #actions>
          <div class="first-infos">
               <p>CARTEIRAS: {{ pursesQty }}</p>
          </div>
          <table class="actions-infos">
               <thead>
                    <tr>
                         <th>Nome</th>
                         <th>Descrição</th>
                         <th>ações</th>
                    </tr>
               </thead>
               <tbody>
                    <tr *ngFor="let purse of purses" (click)="redirectToViewActives(purse.purse_Id)">
                         <td class="td_name">{{ purse.name }}</td>
                         <td>{{ purse.description }}</td>
                         <td class="actions-button-container" (click)="$event.stopPropagation()">
                              <button class="actions-button edit" (click)="redirectToUpdatePurse(purse.purse_Id)">
                                   <img src="assets/edit.png">
                              </button>
                              <button class="actions-button delete" (click)="deletePurse(purse.purse_Id)">
                                   <img src="assets/delete.png">
                              </button>
                         </td>
                    </tr>
               </tbody>
          </table>
     </div>
     <div class="add" (click)="createPurse()">
          <img src="/assets/add.png" class="add-icon">
     </div>
</section>

<app-loading [isLoading]="isLoading"></app-loading>