<app-navbar></app-navbar>

<section class="main-section">
     <h1>Minhas carteiras</h1>

     <div class="cards">
          <ng-container class="container" *ngFor="let purse of purses">
               <div class="card" (click)="redirectToPurse()">
                    <div class="title">
                         <img src="/assets/purse.png">
                         <p>{{ purse.name }}</p>
                    </div>
                    <div class="description">
                         <p>{{ purse.description }}</p>
                    </div>
                    <p class="date">{{ purse.createdAt }}</p>
               </div>
          </ng-container>
     </div>
</section>
<div class="add">
     <img src="/assets/add.png" class="add-icon">
</div>