<div style="padding: 1% 2%;">
     <div class="w-100 mt-3 p-1 bg-secondary rounded">
          <h1 class="fa-2x text-center">Perfil SMTP ativo</h1>
          <p class="text-center fa-2x mb-0 bg-light p-1">Gmail</p>
     </div>
     
     <div class="w-100 mt-3  d-flex justify-content-between">
          <a href="create-smtp-properties" class="button-custom bg-success d-block">Adicionar novo perfil SMTP</a>
          <a href="list-smtp-properties" class="button-custom bg-primary d-block">Listar todos os perfis SMTP</a>
     </div>
</div>