<section class="navegation" (click)="backToPurses()">
     <div class="back">
          <img src="/assets/back-icon.png">
     </div>
     <p>voltar</p>
</section>

<h1> Carteira teste </h1>

<section class="main-section">
     <div class="menu">
          <ul>
               <li #resume>RESUMO</li>
               <li #actions_menu>AÇÕES</li>
               <li #fiis>FIIS</li>
          </ul>
     </div>
     
     <div class="actions" #actions>
          <div class="first-infos">
               <p>AÇÕES: 5</p>
               <P>VALOR TOTAL: R$ 900,00</P>
          </div>
          <table class="actions-infos">
               <thead>
                   <tr>
                       <th>Ativo</th>
                       <th>Quantidade</th>
                       <th>Tipo</th>
                       <th>Preço atual</th>
                       <th>Dividendos pagos</th>
                       <th>Preço teto</th>
                       <th>Indicação</th>
                   </tr>
               </thead>
               <tbody>
                   <tr>
                       <td>Ativo 1</td>
                       <td>100</td>
                       <td>Tipo A</td>
                       <td>R$ 10,00</td>
                       <td>R$ 1,00</td>
                       <td>R$ 12,00</td>
                       <td>Comprar</td>
                   </tr>
                   <tr>
                         <td>Ativo 1</td>
                         <td>100</td>
                         <td>Tipo A</td>
                         <td>R$ 10,00</td>
                         <td>R$ 1,00</td>
                         <td>R$ 12,00</td>
                         <td>Comprar</td>
                    </tr>
               </tbody>
           </table>
     </div>
</section>

<app-loading [isLoading]="isLoading"></app-loading>