@import '../../scss/color-variables.scss';
@keyframes fadeIn {
     from {
          opacity: 0;
     }
     to {
          opacity: 1;
     }
}

// navegação
.navegation {
     display: flex;
     align-items: center;
     padding: 10px 5%;
}

.navegation p {
     font-size: 18px;
     cursor: pointer;
}

.back {
     display: flex;
     align-items: center;
     border: 1px solid #ccc;
     border-radius: 15px;
     background-color: $primary-color;
     cursor: pointer;
     margin-right: 10px;
} 

.back img {
     width: 40px;
}

h1 {
     text-align: center;
     color: $primary-color;
     border-bottom: 1px solid #ccc;
     width: 20%;
     margin: 0 auto;
}

.main-section {
     width: 90%;
     background-color: white;
     margin: 30px auto;
     border-radius: 10px;
     position: relative;
}

.menu {
     background-color: $primary-color;
     height: 12%;
     height: 60px;
     display: flex;
     align-items: center;
     border-radius: 10px 10px 0 0;
}

.menu ul {
     display: flex;
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: left;
     align-items: center;
     
}

.menu ul li {
     list-style: none;
     display: flex;
     align-items: center;
     justify-content: center;
     color: white;
     height: 100%;
     width: 6%;
     height: 100%;
     cursor: pointer;
     transition: 0.5s;
}

.menu ul li:hover {
     background-color: white;
     color: $primary-color;
}

// actions
.actions {
     display: block;
}

.actions.active {
     display: block;
}

.first-infos {
     background-color: $secundary-color;
     display: flex;
     justify-content: space-around;
     padding: 10px 0;
}

.actions-infos {
     background-color: white;
     padding: 1%;
     width: 100%;
     border: 1px solid #ccc;
     border-collapse: collapse;
     text-align: center;
     table-layout: fixed;
     padding-bottom: 20px;
}

.actions-infos th, .actions-infos td {
     border: 1px solid #ccc;
     padding: 8px;
     vertical-align: top;
 }

.actions-infos th {
     font-weight: 400;
     background-color: #e5e5e5;
}

.actions-infos td {
     padding: 15px;
     border-bottom: 1px solid #ccc;
     font-weight: 600;
     font-size: 15px;
}

.actions-infos tbody tr:nth-child(even) {
     background-color: #e5e5e58a;
}

